header{
	padding: 29px 0 33px 0;
	background-color: #fff;
	@media (max-width: $mw3+px){
		padding: 5px 0px 5px 0;
	}
}
// border: 1px solid #000;
.header-top {
	display: flex;
	justify-content: space-between;
	@media (max-width: $mw3+px){
		justify-content:flex-end;
		position: relative;
		z-index: 5;
	}
}
.header-top-lang {
	display: flex;
	@media (max-width: $mw3+px){
		display: none;
	}
}
.header-top-lang__item {
	display: block;
	margin: 0 10px 0 0;
	line-height: 19px;
	color: #000;
	font-size: 14px;
	text-transform: uppercase;
	font-family: Bebas;
	letter-spacing: 1px;
	padding: 0 4px;
	&.active{
		background-color: #000;
		color: #fff;
	}
	@media (max-width: $mw4+px){
		font-size: 13px;
		margin: 0 3px 0 0;
	}
}
.header-top__link {
	font-family: 'AkzidenzGroteskBQBoldCondensed';
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 15px;
	color: #000;
	@media (max-width: $mw4+px){
		font-size: 13px;
	}
	@media (max-width: $mw3+px){
		margin: 20px 0 0 0;
	}
}

.header-bottom{
	display: flex;
	align-items: center;
	margin: -12px 0 0 0;
	/*@media (max-width: $mw3+px){
		display: flex;
		flex-direction:column;

	}*/
	@media (max-width: $mw3+px){
		display: flex;
		justify-content:center;
		margin: -32px 0 0 0;
	}

}

.header-bottom__column {
	flex: 0 0 33.333%; 
	//border: 1px solid #000;
	/*&--left{
		@media (max-width: $mw3+px){
			order: 2;
		}
	}
	&--center{
		@media (max-width: $mw3+px){
			order: 1;
		}
	}
	&--right{
		@media (max-width: $mw3+px){
			order: 3;
		}
	}*/
	&--left{
		@media (max-width: $mw3+px){
			display: none;
		}
	}
	&--right{
		@media (max-width: $mw3+px){
			display: none;
		}
	}
}
.header-bottom-menu--right{
	display: flex;
	justify-content: flex-end;
}

.header-bottom-menu__list{
	display: flex;
	li{
		margin:0 45px 0 0;
		&:last-child{margin:0 0 0 0;}
		@media (max-width: $mw1+px){
			margin:0 20px 0 0;
		}
		@media (max-width: $mw3+px){
			margin:0 0px 15px 0;
			&:last-child{margin:0 0 15px 0;}
		}
	}
	@media (max-width: $mw3+px){
		//border: 1px solid #000;
		display: flex;
		flex-direction:column;
		align-items:center;
	}
}

.header-bottom-menu__link{
	font-family: 'AkzidenzGroteskBQBoldCondensed';
	color: #000;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	@media (max-width: $mw3+px){
		font-size: 13px;
	}
}

.header-logo {
	display: block;
	text-align: center;
	@media (max-width: $mw3+px){
		margin:0px 0 15px 0;
		position: relative;
		z-index: 7;
	}

}

.header-logo__text {
	display: block;
	color: #000000;
	font-family: Bebas;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 8px;
	@media (max-width: $mw3+px){
		font-size: 8px;
	}
	@media (max-width: $mw4+px){
		letter-spacing: 5px;
	}
}

.header-logo__image {
	display: inline-block;
	margin: 13px 0 22px 0;
	@media (max-width: $mw3+px){
		margin:2px 0 5px 0;
		img{width: 150px;}
	}
	@media (max-width: $mw4+px){
		margin:0px 0 2px 0;
		img{width: 115px;}
	}
}



.header-bottom__menu {
	display: none;
	@media (max-width: $mw3+px){
		overflow: auto;
		padding: 5px 0px 0px 0;
		background-color: #fff;
		display:flex;
		flex-direction:column;
		position: absolute;
		z-index: 4;
		top: 0;
		right: 89%;
		//border: 1px solid blue;
		width: 100%;
		&:hover{
			position: fixed;
			z-index: 6;
			left: 0;
		}
	}
	@media (max-width: $mw4+px){
		right: 85%;
	}
}
.header-bottom__menu__burger{
	@media (max-width: $mw3+px){
		background: url('../img/icone/burger-menu.svg') 0 0/100% 100% no-repeat;
		width: 30px;
		height: 30px;
		//border: 1px solid blue;
		display: block;
		cursor: pointer;
		margin: 12px 15px 20px 0px;
		align-self:flex-end;
	}
}
.header-bottom-menu-item{
	display: block;
	padding: 0 0 0 15px;
}

.header-top-lang2{
	display: flex;
	margin: 0 0 15px 0;
}
.header-bottom__menu__link {
	display: block;
	font-family: 'AkzidenzGroteskBQBoldCondensed';
	color: #000;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	margin: 0 0 15px 0;
}