//<FONTS>
//<Connecting fonts>
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

@font-face {
	font-family: 'Bebas';
	src: url('../fonts/Bebas-Regular.eot');
	src: local('☺'), url('../fonts/Bebas-Regular.woff') format('woff'), url('../fonts/Bebas-Regular.ttf') format('truetype'), url('../fonts/Bebas-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AkzidenzGroteskBQBoldCondensed';
	src: url('../fonts/akzidenz-grotesk-bq-bold-condensed.eot');
	src: local('☺'), url('../fonts/akzidenz-grotesk-bq-bold-condensed.woff') format('woff'), url('../fonts/akzidenz-grotesk-bq-bold-condensed.ttf') format('truetype'), url('../fonts/akzidenz-grotesk-bq-bold-condensed.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
//</Connecting fonts>

//<Default fonts>
$fontfamily:"PT+Sans";
//</Default fonts>
//</FONTS>


//<Variables>
$max-width:320px;
$mw:880;
$mw1:$mw+12;
$mw2:992.98;
//$mw3:767.98;
$mw3:752;
$mw4:479.98;

//</Variables>

//<Reset file>
@import "nullstyle.scss";
//</Reset file>


.wraper{width: 100%; min-height: 100%; overflow: hidden;} 


.container{max-width:$mw+px;margin: 0 auto;width: 100%; 
	//@media (max-width: $mw1+px){max-width:970px;}
	@media (max-width: $mw1+px){max-width:750px;}
	@media (max-width: $mw3+px){max-width:none; padding: 0 10px;}
}


//<Connecting style files>
@import "header.scss";
@import "footer.scss";
//</Connecting style files>

//<MAIN UNIT>
.private {
	display: flex;
	background-color: #000;
	margin: 0 0 75px 0;
}
.private__column{
	flex: 0 0 50%;
}

.private__image {
	background: url('../img/private/01.png') 0 0/100% 100% no-repeat;
	height: 100%;
}

.private-body {
	padding: 75px 0 65px 60px;
	color: #ffffff;
}

.private-body__content{
	max-width: 305px;
}


.private-body__title {
	font-size: 50px;
	text-transform: uppercase;
	font-family: 'AkzidenzGroteskBQBoldCondensed';
	letter-spacing: 5px;
	margin: 0 0 30px 0;
}
.private-body__text {
	font-size: 15px;
	line-height: 25px;
	margin: 0 0 50px 0;
}
.private-body-buttons {
	display: flex;
	align-items:center;
}
.private-body-buttons__link {
	font-family: 'Bebas';
	text-transform: uppercase;
	font-size: 15px;
	text-decoration: underline;
	margin: 0 0 0 15px;
	color: #ffffff;
	letter-spacing: 1.5px;
}

//==========================================

.products {margin:  0 0 40px 0;}
.products-body {
	display: flex;
}
.products__column {
	flex: 0 0 25%;
	margin:  0 0 40px 0;

}
.products-item {
	display: flex;
	height: 100%;
	flex-direction:column;
	color: #000;
}
.products-item__image{
	display: block;
	&-1{
		background: url('../img/products/01.png') 0 0/100% 100% no-repeat;
	}
	&-2{
		background: url('../img/products/02.png') 0 0/100% 100% no-repeat;
	}
	&-3{
		background: url('../img/products/03.png') 0 0/100% 100% no-repeat;
	}
	&-4{
		background: url('../img/products/04.png') 0 0/100% 100% no-repeat;
	}
	padding: 0 0 100% 0;
	margin:  0 0 25px 0;
}
.products-item__title {
	display: block;
	padding: 0px 10px 0px 0px;
	max-width: 185px;
	color: #000;
	font-size: 25px;
	text-transform: uppercase;
	font-family: 'AkzidenzGroteskBQBoldCondensed';
	letter-spacing: 2.5px;
	margin: 0 0 30px 0;
}
.products-item__text {
	flex: 1 1 auto;
	padding: 0px 10px 0px 0px;
	font-size: 15px;
	max-width: 185px;
	line-height: 25px;
	margin: 0 0 25px 0;
}

.products__btn{margin: 0 0 29px 0;}
.products-item__link {
	color: #000;
	font-family: 'Bebas';
	text-transform: uppercase;
	font-size: 15px;
	text-decoration: underline;
	letter-spacing: 1.5px;
}

//==========================================

.why-top {
	display: flex;
	background-color: black;
}
.why-top__column {
	flex: 0 0 50%;
}
.why-top__text {
	font-size: 50px;
	text-align: right;
	text-transform: uppercase;
	font-family: 'AkzidenzGroteskBQBoldCondensed';
	letter-spacing: 5px;
	color: white;
	padding: 55px 60px 45px 0px;
}
.why-top__image {
	background: url('../img/why/01.png') 0 0/100% 100% no-repeat;
	height: 100%;
}
.why-body {
	background-color: #DCDCDC;
	padding: 50px 0px 0px 0px;
}

.container{
	&-why{
		display: flex;
		flex-wrap:wrap;
	}
}
.why-body__column {
	flex: 0 0 50%;
	margin: 0 0 50px 0;
	&:nth-child(even){
		padding: 0 0 0 5px;
	}
}
.why-body-item {
	display: flex;

}
.why-body-item__icon {
	flex:0 0 100px;
	height: 100px;
	//display: flex;
	//justify-content: center;
	//align-items: center;
	&-1{
		background: url('../img/why/icons/01.png') 0 0/100% 100% no-repeat;
	}
	&-2{
		background: url('../img/why/icons/02.png') 0 0/100% 100% no-repeat;
	}
	&-3{
		background: url('../img/why/icons/03.png') 0 0/100% 100% no-repeat;
	}
	&-4{
		background: url('../img/why/icons/04.png') 0 0/100% 100% no-repeat;
	}
}
.why-body-item-body {
	flex: 1 1 100%;
	display: flex;
	flex-direction:column;
	padding: 0 0 0 11px;
}
.why-body-item-body__title{
	flex: 1 1 auto;
	font-size: 25px;
	text-transform: uppercase;
	font-family: 'AkzidenzGroteskBQBoldCondensed';
	letter-spacing: 2.5px;
}
.why-body-item-body__text {
	font-size: 15px;
	padding: 0 25px 0 0;
	line-height: 25px;
}


//==========================================


.contacts {
	padding: 80px 0 0 0;
}
.contacts__title {
	font-size: 50px;
	text-transform: uppercase;
	font-family: 'AkzidenzGroteskBQBoldCondensed';
	letter-spacing: 5px;
	margin: 0 0 30px 0
}
.contacts-body {
	display: flex;
	flex-wrap:wrap;
}
.contacts-body__column {
	flex: 0 0 50%;
	padding: 0 0 20px 0;
	&:nth-child(even){
		padding: 0 0 0 5px;
	}
}
.contacts-body__item {
	font-size: 15px;
	color: #000;
	display: inline-block;
	line-height: 27px;
	padding: 0 0 0 35px;
}
.contacts-body__item--1 {
	background: url('../img/info/icone/01.svg') left no-repeat;
}
.contacts-body__item--2 {
	background: url('../img/info/icone/02.svg') left no-repeat;
}
.contacts-body__item--3 {
	background: url('../img/info/icone/03.svg') left no-repeat;
}
.contact-social {
	display: flex;
	
}
.contact-social__item {
	margin: 0 30px 0 0;
	&:last-child{
		margin: 0 0 0 0;
	}
	
}

.contacts-content {
	display: flex;
	background-color: #000;
}
.contacts-content-column {
	flex: 0 0 50%;
}
.contacts-content-column__map {
	background: url('../img/info/map.png') 0 0/100% 100% no-repeat;
	height: 100%;
}
.contacts-content-form {
	padding: 55px 60px;

}
.contacts-content-column-item__title {
	color: white;
	font-size: 25px;
	text-transform: uppercase;
	font-family: 'AkzidenzGroteskBQBoldCondensed';
	letter-spacing: 5px;
	margin: 0 0 30px 0;
}
.contacts-content-form-body {
	max-width: 375px;
}
.contacts-content-form-line {
	margin: 0 0 25px 0;
}

//</MAIN UNIT>

//<Connecting additional style files>
@import "forms.scss";
//</Connecting additional style files>

